<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="APIKey" value="y8fID5hfbFX1VCGegYcj8JYdO"/>
		<add key="APISecretKey" value="LomQINU9dchrlDRBoPnnCodKZ5PveKbBPghpEFfi4x0PLkT23Q"/>
		<add key="AccessToken" value="184386174-5Ih2KhfmYJAsdQIa1sn7Has3RzpSXEW92MP5qcqE" />
		<add key="AccessTokenSecret" value="kMZXghixQeFqUIPp1bRIcO6cLw7toeBBZLUJ4WJ5Jwwql"/>
	</appSettings>
</configuration>